.ambassador-badges-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 200px;
}
//NOT ACTIVE
$not-active-text: #38405b;
$not-active-border: #aaa7cc;
//ACTIVE
$danger-active-bg: #ffe0e7;
$danger-active-text: #d64d69;
$warning-active-bg: #ffefc2;
$warning-active-text: #a37800;
$success-active-bg: #ddfadc;
$success-active-text: #3ea33b;
$primary-active-bg: #f5e0ff;
$primary-active-text: #a94dd6;
$info-active-bg: #e0ecff;
$info-active-text: #4979cc;
$mint-active-bg: #dcf5f3;
$mint-active-text: #25b8ae;
$transparent-active-bg: #f5f5fd;
$transparent-active-text: #38405b;
//HOVER
$danger-hover-text: #d64d69;
$danger-hover-border: #eb96a7;
$warning-hover-text: #a37800;
$warning-hover-border: #e0b43a;
$success-hover-text: #3ea33b;
$success-hover-border: #83d681;
$primary-hover-text: #a94dd6;
$primary-hover-border: #c899e0;
$info-hover-text: #4979cc;
$info-hover-border: #8dafeb;
$mint-hover-text: #25b8ae;
$mint-hover-border: #87e0da;
$transparent-hover-text: #38405b;
$transparent-hover-border: #aaa7cc;
//ACTIVE HOVER
$danger-active-hover-bg: #d64d69;
$warning-active-hover-bg: #a37800;
$success-active-hover-bg: #3ea33b;
$primary-active-hover-bg: #a94dd6;
$info-active-hover-bg: #4979cc;
$mint-active-hover-bg: #25b8ae;
$transparent-active-hover-bg: #6a6d8f;
