.chart-tooltip {
    border-radius: 0 2px 2px 0;
    color : $section-title;
    font-family : 'Basis Grotesque Pro';
    padding: 4px 4px 4px 21px;
    opacity: 1;
    font-size: 12px;
    align-content: center;
    align-items: center;
    line-height: 16px;
    height: 24px;
    pointer-events: none;
    position: absolute;
    right: 0;
    transform: translate(25%, -50%);
    transition: all .1s ease;

}
.info-tooltip {
    background : $default;
    font-family : 'Basis Grotesque Pro';
    border-radius: 8px;
    font-size: 12px;
    line-height: 16px;
    padding: 8px;
    min-width: 70px;
    color: $white;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    transform: translate(-50%, 0);
    transition: all .1s ease;
    z-index: 1000;
    text-align: center;
}
.chart {
    height: inherit;
    margin-right: 10px;
}
